<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>{{ iseditmode ? 'update user':'Add new user'}}</h1>
        <form [formGroup]="userform" (ngSubmit)="onuserform()">
            <div class="form-group">
                <label for="userName">userName </label>
                <input type="userName" class="form-control" id="userName" formControlName="userName">
            </div>
            <div class="form-group">
                <label for="userRole">Products Status</label>
                <select name="userRole" id="userRole" class="form-control" formControlName="userRole">products status
                    <option value="Admin">admin</option>
                    <option value="Users"> users</option>
                </select>
            </div>
            <div class="text-right">
                <button class="btn btn-primary" *ngIf="!iseditmode">Add users</button>
                <button class="btn btn-primary" *ngIf="iseditmode" type="button" (click)="onupdateuser()">update Users</button>
            </div>
        </form>
    </div>
</div>